@import "common";

.app-main {
  @extend .fd-container;
  @apply gap-x-8 my-8;
  .blog-left-sidebar {
    .blog-item {
      box-shadow: $blog-box-shadow;
      //@apply shadow-lg;
      @apply mb-8;
      .blog-cover {
        @apply relative w-full;
        img {
          @apply w-full object-cover;
        }
        .blog-date {
          @apply text-white inline-block text-center p-4 rounded absolute;
          left: 1.5rem;
          bottom: -1.25rem;
          background: $bg-primary;
          h3 {
            @apply text-2xl inline-block font-bold;
          }
        }
      }
      .blog-detail {
        @apply px-6 pb-6 pt-10;
        h2 {
          @extend .ellipsis;
          @apply text-2xl text-black inline-block font-bold mb-4 w-full;
        }
        p {
          @extend .ellipsis-2;
          @apply text-gray-600 text-sm py-0 h-10;
        }
        ul {
          @apply mt-6 flex text-sm;
        }
      }
    }
  }

  @media #{$laptop}{
    //& {
    //  @apply grid;
    //  grid-template-columns: 2fr 1fr;
    //}
  }
}

.right-panel {
  .panel-card {
    @apply py-8;
    box-shadow: $blog-box-shadow;
    .pc-title {
      @apply text-xl px-6 pb-4;
    }
    .pc-content {
      @apply px-6 pt-4 text-gray-700;
      .cover-thumbnail {
        width: 100px;
        height: 50px;
      }
      ul {
        li {
          @apply py-3;
          .summary {
            @apply ml-4 flex flex-col justify-between;
            p {
              @apply py-0;
            }
          }
        }
      }
      .tag {
        //@apply grid grid-cols-3;
        li {
          @apply mr-2;
          a {
            @apply rounded;
          }
        }
        .tag-item {
          @apply px-2 py-1 border-purple-300 border;
        }
      }
    }
  }
}
